<h1>Candidates</h1>
<p>Planet: {{ planet }}</p>
<table border="1">
<thead>
    <tr>
    <th>Name</th>
    <th>Planet</th>
    <th>Jedi</th>
    <th>View exams by candidate</th>
    <th>Accept candidate</th>
    </tr>
</thead>
<tbody>
    {% for candidate in object_list %}
    <tr>
    <td>{{ candidate.name }}</td>
    <td>{{ candidate.planet }}</td>
    <td>{{ candidate.jedi }}</td>
    <td><a href="{% url "exam_list" candidate.pk %}">View exams by candidate</a></td>
    <td><a href="{% url "candidate_edit" candidate.pk %}">Accept candidate</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>